/Contrib/
**/GLIMPSE*.jar
**/debug*.*
**/Restart/Restart*
**/gcamdata/
**/database*/
**/model_interface.properties
**/GLIMPSE-Data/GCAM*/trash/*
**/GLIMPSE-Data/GCAM*/log/*
**/GLIMPSE-Data/GCAM*/ScenarioComponents/*
**/GLIMPSE-Data/GCAM*/ScenarioFolders/*
/amazon-corretto-8.442.06.1-windows-x64-jre/
