**/*.class
**/GLIMPSE-ScenarioBuilder/*.jar
**/GLIMPSE-ModelInterface/*.jar
**/GLIMPSE*.jar
**/debug*.*
**/Restart/Restart*
**/gcamdata/
**/database*/
**/model_interface.properties-nope
/amazon-corretto-8.442.06.1-windows-x64-jre/
/amazon-corretto-8.442.06.1-windows-x64-jre/*
**/*log.txt
**/GCAM-Model/*
/Contrib.zip
/GLIMPSE-code-folders.zip
**/*.class
**/*.log
**/*.tmp
**/*.bak
**/*Restart*
**/*restart*
**/GCAM-Model/
**/GCAM-Model/*

# Oversized files (GitHub 100MB limit)
/Contrib/DeepDecarb/TrnShareweightUpdates-Decarb/Delete-TrnTechSWs-Rules-Linear.xml
/Contrib/DeepDecarb/TrnShareweightUpdates-Decarb/Delete-TrnTechSWs-Rules-SCurve.xml